body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 
    justify-content: center;
    height: 100vh;
    position: relative;
    background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png'); 
    background-position: center;*/
}

canvas {
    background-color: black;
}

.start {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.start img {
    width: 100%;
    height: 100%;
}

.howToContainer {
    position: absolute;
    top: 20px;
    /* left: 30px; */

}

.box {
    display: flex;
}

.howTo {
    margin-right: 12px;
}

.howTo,
.howToArrow {
    display: flex;
    /* position: fixed; */
    /* position: absolute;
    top: 20px;
    left: 30px; */
}

.howTo,
.howToArrow {
    display: flex;
    align-items: center;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #bdbdbd9c;
}

.howToBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howToCenter {
    display: flex;
}

.howToCenter div:first-child {
    margin-right: 44px;
}

.flex {
    display: flex;
}

h4 {
    font-size: 14px;
    margin: 0px;
    margin-top: 19px;
}

h3 {
    font-size: 18px;
}

.howToArrow {
    top: 150px;
}

.howTo h3,
.howToArrow h3 {
    border: 1px solid black;
    border-radius: 6px;
    margin: 6px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.spaceBox {
    margin-left: 30px;
    margin-right: 6px;
}

.howTo .space,
.howToArrow .space {
    width: 68px;
}

.btnBox {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    width: 260px;
    height: 120px;
    background-color: #bdbdbd9c;
}

.btnStart {
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1.4px solid #000000;
    font-size: 20px;
    font-weight: bold;
}

.d-none {
    display: none;
}


@media (max-width: 700px) {
    .box {
        flex-direction: column;
        align-items: center;
    }

    .howTo {
        margin-right: 0px;
        margin-bottom: 12px;
    }
}